body {
  margin: 0;
  height: 100vh;
  font-family: Arial;
}
.container {
  display: flex;
  height: 100%;
  flex-direction: column;
}
nav {
  height: 50px;
  background: #ccc;
  display: flex;
}
section {
  flex: 1;
  display: flex;
}
footer {
  height: 84px;
}
nav ul,
nav li {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav ul {
  display: flex;
  flex: 1;
}
nav li {
  flex: 1;
  height: 100%;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  display: flex;
}
nav li .groupClose {
  width: 30px;
}
nav li .groupName {
  flex: 1;
}
nav li:hover {
  background-color: #ddd;
}
.activeGroup {
  background-color: #eee !important;
  font-weight: bold;
}
.addTab {
  width: 50px !important;
  background-color: #999;
  border: 0;
  font-size: 30px;
  cursor: pointer;
}
.modalBG {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
}
.modalArea {
  max-width: 500px;
  padding: 20px;
  margin: 20px auto;
  background-color: #fff;
  border-radius: 5px;
}
#groupList button {
  display: block;
  font-size: 18px;
  border: 1px solid #ccc;
  background-color: #fff;
  height: 40px;
  width: 100%;
  text-align: left;
  cursor: pointer;
}
#groupList button:hover {
  background-color: #ccc;
}
.messages {
  flex: 1;
  overflow-y: auto;
}
.userList {
  width: 200px;
  overflow-y: auto;
  border-left: 2px solid #CCC;
}
.userList ul,
.userList li{
  list-style: none;
  margin:0;
  padding: 0;

}
.userList li{
  padding: 3px;
}
.message {
  padding: 5px;
  border-bottom: 1px solid #ddd;
}
.mInfo {
  margin-bottom: 5px;
}
.mSender {
  font-weight: bold;
  font-size: 14px;
  color: #000;
}
.mDate {
  font-size: 12px;
  color: #777;
}
.mBody {
  font-size: 12px;
}
.mBody img {
  max-width: 200px;
  max-height: 200px;
}
.senderArea {
  height: 40px;
  border: 2px solid #999;
  margin: 20px;
  border-radius: 5px;
  display: flex;
  overflow: hidden;
}
#senderInput {
  border: 0;
  font-size: 13px;
  color: #000;
  padding-left: 10px;
  outline: 0;
  flex: 1;
}
.senderTools {
  width: 80px;
  display: flex;
}
.senderTool {
  width: 40px;
  height: 40px;
  background-color: #ece;
  cursor: pointer;
}
.imgUploadBtn {
  background-color: #f35;
}
#senderInputImg {
  position: absolute;
  top: -1000px;
}
.progress {
  height: 10px;
  display: none;
}
.progressBar {
  height: 10px;
  background-color: #f35;
}
.userInfo {
  height: 25px;
  font-size: 12px;
  line-height: 25px;
  padding-left: 10px;
  background-color: #eee;
}
